---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/currencies/exchange_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"985a89d88eda26f75b506b23c0ada2ec"
    body:
      encoding: ASCII-8BIT
      string: |
        {"usd_to_mzn":"38.146185","bbd_to_usd":"0.5","btc_to_awg":"441.09553","ttd_to_usd":"0.157694","idr_to_usd":"0.000075","btc_to_top":"522.474162","usd_to_gel":"2.244233","btc_to_bsd":"246.17","btc_to_pkr":"24904.03422","sek_to_btc":"0.0005","cop_to_btc":"0.000002","omr_to_usd":"2.598921","usd_to_shp":"0.632073","uzs_to_usd":"0.000393","usd_to_pln":"3.669885","btc_to_ang":"440.233935","ugx_to_btc":"0.000001","usd_to_tzs":"2287.75","btc_to_uzs":"626934.59219","ltl_to_btc":"0.001347","sbd_to_usd":"0.127205","usd_to_nok":"7.72472","sos_to_usd":"0.001435","btc_to_btn":"15592.715512","btc_to_ern":"3692.919255","bgn_to_usd":"0.580526","btc_to_bif":"383655.945","pyg_to_btc":"0.000001","sos_to_btc":"0.000006","usd_to_dzd":"98.3538","fjd_to_usd":"0.482981","usd_to_crc":"537.58498","bsd_to_btc":"0.004062","btc_to_azn":"258.462007","usd_to_cny":"6.171224","btc_to_bam":"424.041857","usd_to_uzs":"2546.75465","rub_to_btc":"0.000075","pln_to_usd":"0.272488","btc_to_hkd":"1908.886862","btc_to_zar":"2991.673239","btc_to_jod":"174.278021","clf_to_btc":"0.165135","kgs_to_btc":"0.000067","awg_to_btc":"0.002267","usd_to_ils":"3.83238","rub_to_usd":"0.018541","usd_to_ang":"1.788333","btc_to_shp":"155.59741","usd_to_huf":"274.35075","usd_to_sos":"696.703333","btc_to_zwl":"79362.068594","usd_to_nzd":"1.4544","tjs_to_btc":"0.000649","iqd_to_btc":"0.000003","ghs_to_btc":"0.000931","usd_to_mmk":"1092.7","btc_to_mmk":"268989.959","btc_to_all":"30516.771763","bwp_to_btc":"0.000413","gip_to_btc":"0.006426","kwd_to_usd":"3.3132","btc_to_srd":"803.825548","btc_to_aoa":"29500.27429","btn_to_btc":"0.000064","btc_to_mad":"2373.589603","bzd_to_usd":"0.501857","usd_to_mad":"9.642075","gel_to_usd":"0.445587","php_to_btc":"0.00009","usd_to_lvl":"0.619166","pgk_to_usd":"0.365627","sdg_to_btc":"0.00068","btc_to_bmd":"246.17","kmf_to_usd":"0.002284","btc_to_aed":"904.147946","uyu_to_usd":"0.037396","usd_to_zwl":"322.387247","try_to_usd":"0.372981","nzd_to_btc":"0.002793","btc_to_cop":"628705.8715","usd_to_jep":"0.632073","thb_to_btc":"0.000122","wst_to_usd":"0.407","mop_to_usd":"0.125669","usd_to_xau":"0.00084","usd_to_khr":"3993.0","aoa_to_btc":"0.000034","usd_to_clf":"0.024598","usd_to_std":"21697.83","btc_to_kzt":"45490.49281","usd_to_xaf":"578.320325","btc_to_bnd":"328.698493","btc_to_mnt":"471230.9225","kes_to_btc":"0.000041","myr_to_btc":"0.001089","clf_to_usd":"40.653712","btc_to_gyd":"50417.462275","bam_to_btc":"0.002358","mga_to_btc":"0.000001","xau_to_usd":"1190.47619","mzn_to_btc":"0.000106","clp_to_usd":"0.001581","ars_to_btc":"0.000447","btc_to_htg":"11871.827161","nio_to_btc":"0.000151","usd_to_egp":"7.624156","usd_to_mop":"7.95742","chf_to_usd":"1.086802","tnd_to_usd":"0.518659","shp_to_usd":"1.582096","xag_to_btc":"0.065696","mur_to_usd":"0.028509","btc_to_dop":"10979.374013","cuc_to_btc":"0.004062","dzd_to_usd":"0.010167","czk_to_btc":"0.000169","btc_to_aud":"317.317315","usd_to_hkd":"7.754344","usd_to_afn":"57.874212","khr_to_usd":"0.00025","eur_to_btc":"0.004611","nok_to_usd":"0.129455","btc_to_xdr":"174.146566","gbp_to_btc":"0.006426","btc_to_gbp":"155.59741","usd_to_dkk":"6.569319","yer_to_btc":"0.000019","awg_to_usd":"0.558088","gtq_to_usd":"0.131098","pyg_to_usd":"0.000194","xag_to_usd":"16.173379","btc_to_dzd":"24211.754946","btc_to_sar":"923.046171","kpw_to_btc":"0.000005","bhd_to_usd":"2.655528","usd_to_gip":"0.632073","ngn_to_usd":"0.005027","sbd_to_btc":"0.000517","mkd_to_usd":"0.018417","usd_to_mxn":"15.320688","vuv_to_btc":"0.000039","bmd_to_btc":"0.004062","kes_to_usd":"0.01015","std_to_usd":"0.000046","dkk_to_btc":"0.000618","usd_to_sll":"4215.5","kzt_to_btc":"0.000022","cuc_to_usd":"1.0","btc_to_lvl":"152.420094","cny_to_btc":"0.000658","mvr_to_usd":"0.065789","ern_to_btc":"0.000271","usd_to_uah":"21.7814","btc_to_xcd":"664.329132","usd_to_bif":"1558.5","usd_to_vuv":"104.88","usd_to_eek":"13.784075","usd_to_cop":"2553.95","usd_to_mwk":"436.71375","btc_to_kyd":"203.116098","zwl_to_usd":"0.003102","bbd_to_btc":"0.002031","btc_to_mwk":"107505.823838","btc_to_kes":"24254.357865","usd_to_xof":"579.156275","usd_to_btn":"63.34125","bmd_to_usd":"1.0","btc_to_std":"5341354.8111","btc_to_djf":"43645.325575","usd_to_cup":"0.994328","btc_to_hrk":"1642.006334","fjd_to_btc":"0.001962","btc_to_gtq":"1877.752758","dkk_to_usd":"0.152223","ngn_to_btc":"0.00002","rsd_to_btc":"0.000038","usd_to_cve":"97.14236235","amd_to_btc":"0.000009","usd_to_lak":"8052.25","vnd_to_btc":"0.0","gtq_to_btc":"0.000533","all_to_usd":"0.008067","usd_to_bsd":"1.0","btc_to_mkd":"13366.569431","gip_to_usd":"1.582096","jmd_to_usd":"0.008612","irr_to_usd":"0.000034","clp_to_btc":"0.000006","btc_to_tmm":"975.966266","btc_to_ugx":"811930.2025","pkr_to_btc":"0.00004","btc_to_wst":"604.83969","gmd_to_usd":"0.023341","bwp_to_usd":"0.101646","btc_to_pab":"246.17","usd_to_bhd":"0.376573","btc_to_isk":"32238.4232","btc_to_kwd":"74.299768","szl_to_btc":"0.000334","usd_to_kyd":"0.825105","btc_to_fkp":"155.59741","usd_to_clp":"632.40125","btc_to_sdg":"1469.581481","usd_to_ltl":"3.014956","btc_to_twd":"7545.794853","lbp_to_usd":"0.000664","btc_to_syp":"46486.467582","amd_to_usd":"0.002112","usd_to_sar":"3.749629","mzn_to_usd":"0.026215","vef_to_btc":"0.000644","mvr_to_btc":"0.000267","nad_to_btc":"0.000334","jep_to_usd":"1.582096","usd_to_wst":"2.457","btc_to_kmf":"107780.909704","lsl_to_btc":"0.000334","mmk_to_usd":"0.000915","zmk_to_btc":"0.000001","zmw_to_usd":"0.134997","gyd_to_btc":"0.00002","usd_to_ghs":"4.362988","btc_to_bzd":"490.518342","usd_to_cdf":"917.5","usd_to_tmt":"3.50035","usd_to_gtq":"7.62787","btc_to_xag":"15.220691","btc_to_yer":"52898.48662","usd_to_fjd":"2.070475","btc_to_thb":"8218.961488","pen_to_usd":"0.316014","omr_to_btc":"0.010557","krw_to_usd":"0.000918","djf_to_usd":"0.00564","inr_to_usd":"0.01585","aud_to_btc":"0.003151","gel_to_btc":"0.00181","usd_to_kmf":"437.831213","usd_to_pkr":"101.166","usd_to_pyg":"5163.5","usd_to_zmk":"5253.075255","usd_to_xag":"0.06183","sar_to_btc":"0.001083","usd_to_gmd":"42.84385","hkd_to_usd":"0.12896","usd_to_irr":"29148.0849","rwf_to_btc":"0.000006","jod_to_btc":"0.005738","usd_to_brl":"3.099213","usd_to_zar":"12.152875","usd_to_srd":"3.265327","bnd_to_btc":"0.003042","btc_to_gnf":"1793784.478612","usd_to_bwp":"9.838083","usd_to_omr":"0.384775","vef_to_usd":"0.158645","btc_to_zmw":"1823.520768","usd_to_jpy":"123.151","usd_to_pgk":"2.735026","mmk_to_btc":"0.000004","btc_to_cdf":"225860.975","btc_to_ron":"972.565482","ron_to_usd":"0.253114","usd_to_btc":"0.004062","usd_to_szl":"12.15365","usd_to_bgn":"1.722576","btc_to_khr":"982956.81","crc_to_usd":"0.00186","rwf_to_usd":"0.001405","xof_to_btc":"0.000007","btc_to_brl":"762.933264","btc_to_hnl":"5364.142768","brl_to_usd":"0.322663","btc_to_afn":"14246.894768","usd_to_mkd":"54.298125","pen_to_btc":"0.001284","btc_to_tnd":"474.628069","btc_to_php":"11051.752916","sll_to_usd":"0.000237","lkr_to_usd":"0.007498","shp_to_btc":"0.006426","gnf_to_btc":"0.000001","usd_to_mtl":"0.683738","mnt_to_btc":"0.000002","btc_to_pln":"903.41559","cad_to_btc":"0.003317","usd_to_kwd":"0.301823","usd_to_thb":"33.38734","cve_to_btc":"0.000042","btc_to_usd":"246.17","btc_to_egp":"1876.838483","btc_to_byr":"3766162.153558","mad_to_btc":"0.000421","btc_to_tjs":"1540.919332","jpy_to_btc":"0.000033","btc_to_bob":"1689.634567","usd_to_bdt":"77.51594","tmt_to_btc":"0.00116","lyd_to_btc":"0.002973","htg_to_btc":"0.000084","gnf_to_usd":"0.000137","usd_to_aud":"1.289017","pab_to_usd":"1.0","cdf_to_usd":"0.00109","usd_to_lkr":"133.363","usd_to_zmw":"7.407567","usd_to_bam":"1.722557","thb_to_usd":"0.029951","egp_to_usd":"0.131162","std_to_btc":"0.0","btc_to_chf":"226.508648","kpw_to_usd":"0.001111","usd_to_eur":"0.88099","sll_to_btc":"0.000001","btc_to_gmd":"10546.870555","npr_to_usd":"0.009814","hrk_to_usd":"0.14992","usd_to_tmm":"2.85","xpf_to_btc":"0.000039","jmd_to_btc":"0.000035","dop_to_btc":"0.000091","all_to_btc":"0.000033","btc_to_lak":"1982222.3825","eur_to_usd":"1.135087","btc_to_jep":"155.59741","aed_to_btc":"0.001106","btc_to_jpy":"30316.08167","uyu_to_btc":"0.000152","nad_to_usd":"0.082285","pln_to_btc":"0.001107","ang_to_btc":"0.002271","etb_to_usd":"0.048445","zwl_to_btc":"0.000013","twd_to_usd":"0.032623","btc_to_bgn":"424.046534","btc_to_lbp":"370896.133415","pgk_to_btc":"0.001485","ils_to_usd":"0.260934","crc_to_btc":"0.000008","usd_to_djf":"177.2975","btc_to_nio":"6644.08522","lvl_to_usd":"1.615076","btc_to_mur":"8634.823115","azn_to_btc":"0.003869","lak_to_btc":"0.000001","usd_to_vnd":"21548.333333","xof_to_usd":"0.001727","btc_to_sos":"171507.459485","zmw_to_btc":"0.000548","czk_to_usd":"0.041718","usd_to_amd":"473.42","pkr_to_usd":"0.009885","usd_to_nad":"12.1529","bdt_to_usd":"0.012901","sdg_to_usd":"0.16751","btc_to_eek":"3393.225743","btc_to_bhd":"92.700975","usd_to_bbd":"2.0","aoa_to_usd":"0.008345","huf_to_btc":"0.000015","btc_to_zmk":"1293149.535523","qar_to_usd":"0.274674","kwd_to_btc":"0.013458","qar_to_btc":"0.001116","mxn_to_usd":"0.065271","btc_to_sbd":"1935.224837","usd_to_inr":"63.09158","fkp_to_usd":"1.582096","btc_to_cny":"1519.170212","btc_to_gip":"155.59741","mxn_to_btc":"0.000265","btc_to_kpw":"221530.8447","btc_to_jmd":"28583.414125","usd_to_kpw":"899.91","usd_to_usd":"1.0","btc_to_omr":"94.720062","btc_to_pyg":"1271098.795","usd_to_pen":"3.164413","mur_to_btc":"0.000116","btc_to_kgs":"14936.135073","btc_to_crc":"132337.294527","btc_to_try":"660.006141","btc_to_pen":"778.983548","btc_to_sll":"1037729.635","kmf_to_btc":"0.000009","chf_to_btc":"0.004415","btc_to_fjd":"509.688831","usd_to_isk":"130.96","btc_to_rwf":"175202.88155","btc_to_eur":"216.873308","scr_to_usd":"0.077347","btc_to_czk":"5900.827339","btc_to_ltl":"742.191719","lkr_to_btc":"0.00003","btc_to_tzs":"563175.4175","kzt_to_usd":"0.005411","bgn_to_btc":"0.002358","btc_to_svc":"2140.528155","usd_to_ngn":"198.92625","btc_to_qar":"896.226196","usd_to_mvr":"15.2","nio_to_usd":"0.037051","btc_to_uah":"5361.927238","cny_to_usd":"0.162042","usd_to_uyu":"26.74075","sgd_to_usd":"0.749602","usd_to_byr":"15299.02975","djf_to_btc":"0.000023","mdl_to_usd":"0.052925","usd_to_ern":"15.0015","usd_to_rub":"53.934","usd_to_awg":"1.791833","usd_to_htg":"48.226133","nok_to_btc":"0.000526","btc_to_cuc":"246.17","nzd_to_usd":"0.687569","gbp_to_usd":"1.582096","bdt_to_btc":"0.000052","mtl_to_usd":"1.462549","lak_to_usd":"0.000124","eek_to_usd":"0.072547","mdl_to_btc":"0.000215","khr_to_btc":"0.000001","byr_to_usd":"0.000065","ang_to_usd":"0.55918","ars_to_usd":"0.110103","btc_to_inr":"15531.254249","usd_to_cad":"1.224461","ugx_to_usd":"0.000303","tjs_to_usd":"0.159755","myr_to_usd":"0.268093","btc_to_ttd":"1561.057515","hrk_to_btc":"0.000609","usd_to_try":"2.681099","btc_to_mxn":"3771.493765","zar_to_usd":"0.082285","btc_to_dkk":"1617.169258","btc_to_tmt":"861.681159","btc_to_xau":"0.206783","svc_to_usd":"0.115004","wst_to_btc":"0.001653","huf_to_usd":"0.003645","cop_to_usd":"0.000392","krw_to_btc":"0.000004","usd_to_bob":"6.86369","usd_to_bnd":"1.33525","usd_to_aed":"3.67286","btc_to_xaf":"142365.114405","bif_to_usd":"0.000642","irr_to_btc":"0.0","usd_to_mur":"35.076667","usd_to_iqd":"1163.375","svc_to_btc":"0.000467","xau_to_btc":"4.835714","mwk_to_usd":"0.00229","cup_to_btc":"0.004085","usd_to_kgs":"60.674067","gmd_to_btc":"0.000095","cad_to_usd":"0.816686","rsd_to_usd":"0.009408","usd_to_sek":"8.128259","top_to_usd":"0.471162","hkd_to_btc":"0.000524","tmm_to_usd":"0.350877","btc_to_mga":"781060.4845","mtl_to_btc":"0.005941","iqd_to_usd":"0.00086","usd_to_vef":"6.30338","btc_to_nok":"1901.594322","lrd_to_usd":"0.011697","tmt_to_usd":"0.285686","usd_to_sdg":"5.969783","ttd_to_btc":"0.000641","usd_to_npr":"101.894475","xdr_to_usd":"1.413579","usd_to_top":"2.122412","btc_to_ghs":"1074.036756","usd_to_kes":"98.526863","lyd_to_usd":"0.731966","btc_to_btc":"0.999943","lbp_to_btc":"0.000003","azn_to_usd":"0.952442","kyd_to_usd":"1.211967","isk_to_usd":"0.007636","btc_to_sgd":"328.400873","pab_to_btc":"0.004062","isk_to_btc":"0.000031","eek_to_btc":"0.000295","btc_to_szl":"2991.864021","sek_to_usd":"0.123028","usd_to_sgd":"1.334041","xdr_to_btc":"0.005742","ltl_to_usd":"0.33168","bam_to_usd":"0.580532","htg_to_usd":"0.020736","kgs_to_usd":"0.016482","usd_to_bmd":"1.0","twd_to_btc":"0.000133","btc_to_huf":"67536.924127","usd_to_sbd":"7.861335","btc_to_lsl":"2992.163609","inr_to_btc":"0.000064","lrd_to_btc":"0.000048","usd_to_gbp":"0.632073","mad_to_usd":"0.103712","usd_to_tjs":"6.259574","btc_to_rsd":"26166.677076","bsd_to_usd":"1.0","aud_to_usd":"0.775785","btc_to_mop":"1958.878081","usd_to_nio":"26.989825","btc_to_sek":"2000.933518","btc_to_xof":"142570.900217","btc_to_cup":"244.773724","xaf_to_usd":"0.001729","btc_to_amd":"116541.8014","btc_to_nzd":"358.029648","usd_to_rsd":"106.29515","fkp_to_btc":"0.006426","usd_to_mdl":"18.8945","lsl_to_usd":"0.082272","usd_to_dop":"44.60078","btc_to_ils":"943.416985","xcd_to_btc":"0.001505","tmm_to_btc":"0.001025","usd_to_fkp":"0.632073","bnd_to_usd":"0.748923","btc_to_clf":"6.05529","usd_to_xpf":"105.22","usd_to_hrk":"6.670213","usd_to_lsl":"12.154867","usd_to_tnd":"1.92805","btc_to_mro":"78889.595252","usd_to_mro":"320.46795","try_to_btc":"0.001515","usd_to_php":"44.8948","btc_to_clp":"155678.215712","xcd_to_usd":"0.370554","vuv_to_usd":"0.009535","jod_to_usd":"1.412513","usd_to_gyd":"204.8075","btc_to_lkr":"32829.96971","tzs_to_btc":"0.000002","usd_to_chf":"0.920131","brl_to_btc":"0.001311","egp_to_btc":"0.000533","jep_to_btc":"0.006426","srd_to_btc":"0.001244","usd_to_kzt":"184.793","szl_to_usd":"0.08228","afn_to_btc":"0.00007","btc_to_cve":"23913.53534","btc_to_mdl":"4651.259065","syp_to_usd":"0.005296","usd_to_lbp":"1506.666667","syp_to_btc":"0.000022","mro_to_btc":"0.000013","aed_to_usd":"0.272267","vnd_to_usd":"0.000046","bif_to_btc":"0.000003","btc_to_uyu":"6582.770428","bob_to_btc":"0.000592","gyd_to_usd":"0.004883","btc_to_mtl":"168.315783","kyd_to_btc":"0.004923","usd_to_svc":"8.695325","mro_to_usd":"0.00312","btc_to_nad":"2991.679393","usd_to_scr":"12.928707","btc_to_bbd":"492.34","mnt_to_usd":"0.000522","btn_to_usd":"0.015788","uah_to_usd":"0.045911","zmk_to_usd":"0.00019","btc_to_ars":"2235.817608","btc_to_iqd":"286388.02375","usd_to_krw":"1089.276667","usd_to_xdr":"0.707424","usd_to_mga":"3172.85","yer_to_usd":"0.004654","btc_to_ngn":"48969.674963","btc_to_vnd":"5304553.216585","tnd_to_btc":"0.002107","zar_to_btc":"0.000334","bzd_to_btc":"0.002039","btc_to_vef":"1551.703055","dzd_to_btc":"0.000041","ern_to_usd":"0.06666","scr_to_btc":"0.000314","btc_to_vuv":"25818.3096","sar_to_usd":"0.266693","usd_to_jod":"0.707958","btc_to_etb":"5081.416523","btc_to_gel":"552.462838","usd_to_lrd":"85.49145","btc_to_lyd":"336.313269","ils_to_btc":"0.00106","ron_to_btc":"0.001028","usd_to_rwf":"711.715","usd_to_etb":"20.6419","btc_to_xpf":"25902.0074","usd_to_cuc":"1.0","btc_to_pgk":"673.28135","btc_to_krw":"268147.237115","usd_to_ron":"3.950788","mga_to_usd":"0.000315","usd_to_twd":"30.65278","usd_to_lyd":"1.366183","btc_to_lrd":"21045.430247","btc_to_myr":"918.226408","usd_to_gnf":"7286.77125","xaf_to_btc":"0.000007","btc_to_bwp":"2421.840892","tzs_to_usd":"0.000437","dop_to_usd":"0.022421","byr_to_btc":"0.0","usd_to_ars":"9.082413","idr_to_btc":"0.0","usd_to_ugx":"3298.25","usd_to_jmd":"116.1125","btc_to_scr":"3182.659802","usd_to_myr":"3.73005","btc_to_mzn":"9390.446361","usd_to_czk":"23.970538","uah_to_btc":"0.000186","btc_to_idr":"3279107.485","cve_to_usd":"0.010294","usd_to_all":"123.96625","usd_to_xcd":"2.69866","xpf_to_usd":"0.009504","hnl_to_btc":"0.000186","ghs_to_usd":"0.229201","btc_to_bdt":"19082.09895","usd_to_azn":"1.049933","usd_to_ttd":"6.34138","btc_to_rub":"13276.93278","btc_to_irr":"7175384.059833","mop_to_btc":"0.00051","usd_to_hnl":"21.7904","php_to_usd":"0.022274","npr_to_btc":"0.00004","usd_to_yer":"214.886","jpy_to_usd":"0.00812","cup_to_usd":"1.005704","usd_to_mnt":"1914.25","btc_to_mvr":"3741.784","hnl_to_usd":"0.045892","mkd_to_btc":"0.000075","usd_to_idr":"13320.5","btc_to_cad":"301.425564","bhd_to_btc":"0.010787","bob_to_usd":"0.145694","usd_to_bzd":"1.9926","usd_to_qar":"3.64068","sgd_to_btc":"0.003045","afn_to_usd":"0.017279","usd_to_pab":"1.0","lvl_to_btc":"0.00656","usd_to_syp":"188.838882","btc_to_npr":"25083.362911","mwk_to_btc":"0.000009","srd_to_usd":"0.306248","uzs_to_btc":"0.000002","usd_to_aoa":"119.837","top_to_btc":"0.001914","etb_to_btc":"0.000197","cdf_to_btc":"0.000004"}
  recorded_at: Mon, 22 Jun 2015 14:10:31 GMT
recorded_with: VCR 2.9.3
